<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-lg-4">
            <row>
                <label>Property Name</label>
                <input ng-model="vm.propObject.propertyName" type="text">
            </row>
            <row>
                <label>Address 1</label>
                <input ng-model="vm.propObject.address1" type="text">
            </row>
            <row>
                <label>Address 2</label>
                <input ng-model="vm.propObject.address2" type="text">
            </row>
            <row>
                <label>City</label>
                <input ng-model="vm.propObject.city" type="text">
            </row>
            <row>
                <label>State</label>
                <input ng-model="vm.propObject.state" type="text">
            </row>
            <row>
                <label>Zip Code</label>
                <input ng-model="vm.propObject.zipCode" type="number">
                <label>Phone Number</label>
                <input ng-model="vm.propObject.phoneNumber" type="text">
            </row>
            <row>
                <label>Monthly Rent</label>
                <input ng-model="vm.propObject.rentMonth" type="number">
            </row>
            <row>
                <label>Square Foot</label>
                <input ng-model="vm.propObject.squareFoot" type="number">
            </row>
            <row>
                <label>Bedrooms</label>
                <input ng-model="vm.propObject.bedrooms" type="number">
            </row>
            <row>
                <label>Bathrooms</label>
                <input ng-model="vm.propObject.bathrooms" type="number">
            </row>
            <row>
                <label>Lease Terms</label>
                <select class="selectpicker" ng-model="vm.propObject.leaseTerms">
            </row>

            <option value="12">Monthly</option>
            <option value="2">Bi-Annually</option>
            <option value="1">Annually</option>
            </select>
                <!-- <input ng-model="vm.propObject.imagePath"> -->
                <row>
                    <label>Dogs ok, I guess. No cats. </label>
                    <input type="checkbox" ng-model="vm.propObject.pets">

                </row>
                <button type="submit" ng-click="vm.addProperty(vm.propObject)">Add Property</button>
        </div>
    </div>
</body>

</html>